.minimap-wrapper {
    /* position: absolute; */
    /* width: 30%; */
    /* height: 30%; */
    /* left: 30px; */
    /* bottom: 30px; */
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.22);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.22);
    background-color: #ffffff;
}

#contour-svg {
    width: 95%;
    height: 95%;
    margin-top: 10px;
    margin-left: 5px
}