
.certain-category-icon {
  color: #6e6e6e;
  background: #1DA57A;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  font-size: 16px;
}
.left-side-row {
  padding: 20px 20px 0px 20px;
  /* margin: 0px 0px 0px 0px */
}
.heatmap{
  z-index: 100;
  background: #1DA57A;
  height:200;
  position: absolute;
  right:30px; 
  top:30px;
}
.wedget{
  z-index: 110;
  position: absolute;
  right:100px; 
  top:80px;
}
.defaultButton{
  margin-top:10px
}
.defaultText{
  margin: 15px 0px 0px 0px;
  padding-left: 5px
}
.filename{
  font-size: 120%; 
  display: "table-cell" ;
  vertical-align:"middle"
  /* padding-inline:10px  */
}
.divider{
  display: block;
  clear: none;
  width: 100%;
  min-width: 60%;
  height: 1px;
  margin: 0px 0px 0px 20px;
}