
.certain-category-icon {
  color: #6e6e6e;
  background: #1DA57A;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  font-size: 16px;
}
.left-side-row {
  padding: 10px
}
.canvas {
  width: 1300px;
  height: 800px;
 

}