@canvas_background: #121212;
@important_font :#E0E0E0;
@plain_text: #A0A0A0;
@card_background: rgba(0,0,0,0.1   );
@inner_card_background :"rgba(255,255,255,0.1)";

.certain-category-icon {
  color: #6e6e6e;
  background: #1DA57A;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  font-size: 16px;
}
.left-side-row {
  padding: 20px 20px 0px 20px;
  /* margin: 0px 0px 0px 0px */
  
}
.ant-card-meta .ant-card-meta-detail .ant-card-meta-title{
  color: #E0E0E0;
}

.ant-typography strong{
  color:#E0E0E0;
}
div.ant-btn-group.ant-dropdown-button  button.ant-btn.ant-btn-default,button.ant-btn.ant-dropdown-trigger.ant-btn-block{
  background-color: #121212;
  color: #E0E0E0;
}
div.ant-card-head{
  /* background-color: rgba(255, 255, 255, 0.1); */
  color: #E0E0E0;
  border: 0px;
}
input.ant-select-auto-complete.ant-select .ant-input{
  background-color: rgba(255, 255, 255, 0.1);
  color: #E0E0E0;
}
div.ant-card-bordered{
border: 0cm;
}
span.ant-radio + *{
  color:#A0A0A0;
}
button.ant-switch{
  background-color: #121212
}
button.ant-switch-checked{
  background-color: #1890ff
}
button.ant-btn{
  border: 0ch;
  background-color: #121212
}
.ant-select-auto-complete.ant-select input.ant-input{
  background-color: #121212;
  color: #E0E0E0;
  border: 0ch
}
div.ant-select-search__field__wrap{
  background-color: black;
}
span.ant-typography{
  color:#A0A0A0
}
i.ant-input-search-icon{
  color:#E0E0E0;
}
.ant-col.ant-col-12>h6{
  color: #E0E0E0;
}
div.ant-tag.ant-tag-checkable{
  color: #A0A0A0;
}
div.ant-card.ant-card-small.ant-card-type-inner{
  background-color: rgba(255, 255, 255, 0.1);
}
div.ant-card.ant-card-small.ant-card-type-inner div.ant-card-head{
  background-color: rgba(255, 255, 255, 0);
}
div.ant-tag.ant-tag-checkable.ant-tag-checkable-checked{
  color: white;
}
div.ant-card-head div.ant-tabs-bar{
  border: 0ch;
  color: #A0A0A0;
}
div.ant-collapse.ant-collapse-icon-position-left{
  border: 0ch;
  background-color: rgba(255, 255, 255, 0.1);
}
.heatmap{
  z-index: 100;
  height:300px;
  width:300px;
  position: absolute;
  right:90px; 
  top:20px;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
   -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
       transform: translateY(10px);
-webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
   -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
       transition: all .25s ease-out;
-webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
   -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}
#wedget{
  z-index: 100;
  /* height:211px; */
  /* width:300px; */
  position: absolute;
  left:-40px; 
  bottom:-990px;   
  background-color:rgba(255,255,255,0.1);
  
}
#wedget .ant-card-small > .ant-card-body{
  padding:0;
  /* color:#E0E0E0 */
}
div.tag{
  height: 20px;
  width: 20px;
   
  /* line-height: 100%; */
  border-radius: 20px; 
  /* padding: 2.5px 2.5px 0 0; */
  text-align: center;
  margin:2.5px 5px 2.5px 0px;
  padding:0;
  box-sizing: content-box
}

.defaultButton{
  margin-top:10px
}
.defaultText{
  margin: 15px 0px 0px 0px;
  padding-left: 5px
}
.filename{
  font-size: 120%; 
  display: "table-cell" ;
  vertical-align:"middle"
  /* padding-inline:10px  */
}
.divider{
  display: block;
  clear: none;
  width: 100%;
  min-width: 60%;
  height: 1px;
  margin: 0px 0px 0px 20px;
}
.colorMap{
  background-color:rgba(255, 255, 255, 0.5);
}
.clickRightMenu{
  width: 180px;
  background-color: #ececec;
  border-radius: 5%;
  /* font-family: "Gill Sans", Impact, sans-serif; */
  font-family: '微软雅黑';
  font-size: 14px;
  position: absolute;
  text-align: left;
  padding: 1% 0 0 0;
  border:1px solid #ccc;
  display: none;
  z-index: 100;
  -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
     -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  /* filter: drop-shadow(16px 1px 30px ) invert(0%); */
} 


.clickRightMenu li{
  list-style: none;
  line-height: 24px;
  padding-left: 25px;
  list-style: none;
}
.clickRightMenu li:hover{
  background-color: #dcdcdc;
  cursor: pointer;
}
.clicked{
  display:none; 
}
/* ul a{
  font-family: '微软雅黑';
  text-decoration: none;
  color: #333;
}
ul a:hover{
  color: #000;
  text-decoration: none;
}
ul li{position: relative}
ul li:hover{background: #c1c1c1;}
ul.nav2{ left:99px; top:0; display: none }
.clickRightMenu .li1:hover ul.nav2{display: block; background:  #dcdcdc;} 

*{margin: 0;padding: 0;}
	.qdxw{ margin:100px 100px;}
    .qdxw ul a{font-family: '微软雅黑';font-size: 14px;color: #333;text-decoration: none;}
    .qdxw ul a:hover{color: #000;text-decoration: none;}
    .qdxw ul li{width: 100px;height: 35px;line-height: 35px;text-align: center;position: relative;}
    .qdxw ul li:hover{background: #c1c1c1;}
    .qdxw ul{width: 100px;height: auto;position: absolute;background: #DADADA;list-style: none;}
 
    .qdxw ul.nav2{left: 99px;top: 0;display: none;}
    .qdxw ul.nav3{left: 99px;top: 0;display: none;}
    .qdxw .nav1 .li1:hover ul.nav2{display: block;background: #c1c1c1;}
    .qdxw .nav2 .li2:hover ul.nav3{display: block;background: #c1c1c1;} */